<div class="app-section-header">
    <div class="app-section-header__copy">
        @if (kicker()) {
            <span class="app-eyebrow">{{ kicker() }}</span>
        }
        <h2 class="app-heading">
            {{ title() }}
            @if (titleSpan()) {
                <span>{{ titleSpan() }}</span>
            }
        </h2>

        @if (description()) {
            <p class="app-copy">{{ description() }}</p>
        }
    </div>

    <ng-content select="[section-side-info]"></ng-content>
</div>
